{{#each games}}
<label for={{id}}>
  <div class="game-item">
    <div class="game-details">
      <input type="checkbox" class="checkbox-game-form" id={{id}} name="game-id" value={{id}}>
      <span class="game-title"><a href="/games/{{id}}">{{title}}</a></span>
      <div class="sub-details">
        <p class="game-description">{{description}}</p>
        <p class="game-release-date">{{releaseDate}}</p>
        <p class="game-type"><a href="/games/type/{{type.id}}">{{type.type}}</a></p>
        <p class="game-editor"><a href="/games/editor/{{editor.id}}">{{editor.name}}</a></p>
      </div>
    </div>
  </div>
</label>
{{/each}}