<form class="game-form">
  {{#each games}}
  <label for=game-{{id}}>
  <div class="game-item">
    <input type="checkbox" class="checkbox-form" id={{id}}>
    <span class="game-title"><a href="/games/{{id}}">{{title}}</a></span>
    <span class="game-description">{{description}}</span>
    <span class="game-release-date">{{releaseDate}}</span>
    <span class="game-type"><a href="/games/type/{{type.id}}">{{type.type}}</a></span>
    <span class="game-editor"><a href="/games/editor/{{editor.id}}">{{editor.name}}</a></span>
  </div>
  </label>
  {{/each}}
</form>
