<h1>Modifier le jeu : {{game.title}}</h1>
<form action="/game/update/{{game.id}}" method="post">
    <label for="game-title">Titre :</label>
    <input type="text" id="game-title" name="game-title" value="{{game.title}}" required>

    <label for="game-description">Description :</label>
    <textarea id="game-description" name="game-description" required>{{game.description}}</textarea>

    <label for="game-editor">Éditeur :</label>
    <select id="game-editor" name="game-editor" required>
        {{#each editors}}
            <option value="{{this.id}}" {{#if (eq this.id game.editorId)}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
    </select>

    <label for="game-type">Type de jeu :</label>
    <select id="game-type" name="game-type" required>
        {{#each types}}
            <option value="{{this.id}}" {{#if (eq this.id game.typeId)}}selected{{/if}}>{{this.type}}</option>
        {{/each}}
    </select>

    <label for="game-release-date">Date de sortie :</label>
    <input type="date" id="game-release-date" name="game-release-date" value="{{game.releaseDate}}" required>

    <button type="submit">Mettre à jour</button>
</form>
