<section class="game-list">
    <div class="game-item">
        <span class="game-title"><a href="/games/{{games.id}}">{{games.title}}</a></span>
        <span class="game-description">{{games.description}}</span>
        <span class="game-release-date">{{games.releaseDate}}</span>
        <span class="game-type"><a href="/games/type/{{games.type.id}}">{{games.type.type}}</a></span>
        <span class="game-editor"><a href="/games/editor/{{games.editor.id}}">{{games.editor.name}}</a></span>
    </div>
    <div class="buttons">
        {{>ButtonDelete}}
        {{#if games.FrontPage}}
            {{>ButtonRemoveFrontPage}}
        {{else}}
            {{>ButtonFrontPage}}
        {{/if}}
            {{>ButtonEditGames games=games.id}}

    </div>
</section>
