<div class="buttons">
    {{>ButtonDelete}}
    {{#if games.FrontPage}}
    {{>ButtonRemoveFrontPage}}
    {{else}}
    {{>ButtonFrontPage}}
    {{/if}}
</div>
<div class="game-details">
    <span class="game-title"><a href="/games/{{games.id}}">{{games.title}}</a></span>
    <p class="game-description">{{games.description}}</p>
    <h1 class="game-type"><a href="/games/type/{{games.type.id}}">{{games.type.type}}</a></h1>
    <h1 class="game-editor"><a href="/games/editor/{{games.editor.id}}">{{games.editor.name}}</a></h1>
    <H1 class="game-release-date">{{games.releaseDate}}</h1>
</div>
