<h1>{{games.title}}</h1>
<a href="/games/{{games.id}}">{{games.title}}</a>
- {{games.description}}
- {{games.releaseDate}}
- <a href="/games/type/{{games.type.id}}">{{games.type.type}}</a>
- <a href="/games/editor/{{games.editor.id}}">{{games.editor.name}}</a>