<h1>{{types.type}} Games</h1>

<p>Description : {{types.description}}</p>
<h2>Liste des Jeux :</h2>
<section class="game-list">
    {{#each types.games}}
    <div class="game-item">
        <span class="game-title"><a href="/games/{{id}}">{{title}}</a></span>
        <span class="game-description">{{description}}</span>
        <span class="game-release-date">{{getYear releaseDate}}</span>
        <span class="game-type"><a href="/games/type/{{../type.id}}">{{../type.type}}</a></span>
        <span class="game-editor"><a href="/games/editor/{{editor.id}}">{{editor.name}}</a></span>
    </div>
    {{/each}}
</section>